/* mobile first design */




/* ################################################ */

/* Browser Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

/* Global Values */
h1 {
    font-size: 7rem;
}
p {
    font-size: 1.6rem;
}






/* Section rules  */

header {
    text-align: center;
    padding-top: 2rem;
}

nav {
    display: none;
}

.content-wrapper {
    max-width: 80%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.boxe {
    min-height: 10rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
}





footer {
    width: 100%;
    padding: .5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

/* Media Queries */

